{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='#'>Montessori Match</a>
    </div>

    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <li><a href='/'>Home<span class='sr-only'>(current)</span></a></li>
        <li><a href='/login'>Login<span class='sr-only'>(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<section='container-fluid'>
  <form method='post'>
    <div class='form-group'>
      <label for='username'>Username</label>
      <input type='text' maxlength='30' name='username' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='password'>Password</label>
      <input type='password' maxlength='100' minlength='8' name='password' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='password'>Confirm Password</label>
      <input type='password' maxlength='100' minlength='8' name='password' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='profile_img'>Add a Profile Image (optional)</label>
      <input type='file' name='profile_img' class='form-control'/>
    </div>

    <div class='form-group'>
      <label for='first_name'>First Name</label>
      <input type='text' name='first_name' minlength='2' maxlength='30' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='last_name'>Last name</label>
      <input type='text' name='last_name' minlength='2' maxlength='30' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='program'>Montessori Training Program You Completed</label>
      <input type='text' name='program' minlength='2' maxlength='50' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='grad_year'>Year You Completed Training</label>
      <input type='number' min='1950' max='2100' minlength='4' maxlength='4' class='form-control' />
    </div>

    <div class='form-group'>
      <label for='strengths'>Tell Us Your Strengths as a Montessori Educator (1000 character limit)</label>
      <textarea name='strengths' maxlength='1000' class='form-control'></textarea>
    </div>

    <div class='form-group'>
      <label for='growth'>Tell Us About Some Areas of Growth (1000 character limit)</label>
      <textarea name='growth' maxlength='1000' class='form-control'></textarea>
    </div>

    <div class='form-group'>
      <label for='motto'>Tell Us Your Motto as a Montessori Educator (1000 character limit)</label>
      <textarea name='motto' maxlength='1000' class='form-control'></textarea>
    </div>

    <input type='submit' value='Sign Me Up!' class='btn btn-lg btn-success' />
  </form>
</section>

{% endblock %}
