.hero {
  height: 600px;
  position: fixed;
  z-index: 0;
  background-image: url('/images/jumping.jpg');
  background-position: center;
  background-size: cover;
  width: 110%;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.hm-img {
  height: 100%;
  width: 100%;
}

.main-welcome {
  position: relative;
  left: 40%;
  top: 60%;
  color: #fff;
}

.overlap {
  position: relative;
  z-index: 1;
  margin-top: 600px;
  background-color: white;
  opacity: 1;
  overflow: hidden;
}

.attached {
  position: relative;
  z-index: 1;
  background-color: white;
  opacity: 1;
  overlap: hidden;
}
